@charset "UTF-8";
/* 박스블럭 중앙정렬 margin: 0 auto */
.wrap {width: 1200px;height: 700px;margin: 0 auto;text-align: center;}

.wrap header {height: 100px;width: 100%;background: rgba(250, 250, 0, .3);line-height: 100px;z-index: 3;position: relative;}
.wrap header .header-logo {width: 200px;height: 100px;background: rgba(250, 0, 250, .2);float: left;}
.wrap header .header-logo a i:hover {transform: rotate(-15deg);transition: all .5s;}


.wrap header nav {width: 1000px;height: 50px;text-align: right;float: left;line-height: 50px;}

.wrap header nav > ul {display: inline-block;background: rgba(250, 0, 0, .3);margin:50px auto;}
.wrap header nav > ul > li {width: 180px;height: 50px;float: left;}
.wrap header nav > ul > li > a {width: 180px;height: 50px;display: inline-block;width:180px;height:50px;position:relative;font-size:20px;color:#343434;text-align:center;}
.wrap header nav > ul > li > a span{display:inline-block;width:100%;position:absolute;top:0;left:0}

.wrap header nav > ul > li > a span.en{transition: .5s;transform:rotateY(0deg)}
.wrap header nav > ul > li > a:hover span.en{transition: .2s;transform:rotateY(90deg)}
.wrap header nav > ul > li > a span.ko{transition: .2s;transform:rotateY(90deg)}
.wrap header nav > ul > li > a:hover span.ko{transition: .5s;transform:rotateY(0deg)}

.wrap header nav > ul > li > a:hover {color: #fff;transition: all 0.1s; background: rgba(0, 0, 0, .2);}

/* 서브메뉴 */
.wrap header nav > ul > li:hover .sub {display: block;}
.wrap header nav > ul > li:focus .sub {display: block;}
.wrap header nav > ul > li .sub {display: none;}
.wrap header nav > ul > li .sub ul {width: 100%;}
.wrap header nav > ul > li .sub ul li {font-size: 15px; background: #fff;text-align: center;height: 30px;line-height: 30px;width: 100%;border-top: solid #d5d5d5;}
.wrap header nav > ul > li .sub ul li a:hover {background: skyblue;display: block;}



.warp main {height: 500px;width: 100%;z-index: 2;position: relative;}

.wrap main #section1{height: 300px;width: 100%;background: rgba(0, 200, 0, .2);line-height: 300px;}


.wrap main #section2{height: 200px;width: 100%;line-height: 200px;}
.wrap main #section2 .left-box {float: left;height: 200px;width: 400px;background: rgba(0, 200, 200, .2);}
.wrap main #section2 .center-box {float: left;height: 200px;width: 400px;background: rgba(200, 0, 200, .2);}
.wrap main #section2 .right-box {float: left;height: 200px;width: 400px;background: rgba(200, 200, 0, .2);}


.wrap footer {height: 100px;width: 100%;background: rgba(200, 200, 0, .15);line-height: 100px;}
.wrap footer .left-box {float: left;height: 100px;width: 200px;background: rgba(200, 0,0, .2);}
.wrap footer .center-box {float: left;height: 100px;width: 800px;background: rgba(0, 200, 0, .2);}
.wrap footer .right-box {float: left;height: 100px;width: 200px;background: rgba(0, 0, 200, .2);}